*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f2f2;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
  background-color: #131212da;
}

.section__title{
  font-size: 2.2rem;
  font-weight: 500;
  color: #f3ecec;
  background-color: transparent;
}

.navbar{
  display: flex;
  gap: 1rem;
  background-color: transparent;
}

.nav__links{
  border: none;
  padding: .3rem;
  background-color: transparent;
  color: #e7e0e0;
  transition: color .3s ease;
  cursor: pointer;
}

.nav__links:hover{
  color: #fff;
}

.cart{
  display: flex;
  align-items: center;
  gap: .1rem;
  padding: 0 .2rem;
  background-color: transparent;
}

.cart img{
  width: 20px;
  background-color: transparent;
  
}

.cart p{
  background-color: transparent;
  font-size: 1rem;
  color: #f0ebeb;
}
